*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.dashboard{
    width: 40%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: black 2px;
    color: black;
   
    height: 500px;
    border: 2px solid black;
}

.menu{
    background-color: rgb(223, 223, 223);
    padding: 2%;
}

.amount{
    text-align: center;
    color: grey;
}

.list{
    background-color: white;
    width: 100%;
    margin: 0;
    
}
.owe{
    text-align: left;
}
.owed{
    text-align: right;
}



